*.log
.DS_Store
.env
.env.*
!.env.example
!.env.production.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/node_modules
/playwright-report
/public/build
/public/hot
/public/storage
/test-results
/storage/*.key
/storage/pail
/vendor
*.bak
*.backup
*.old
*.orig
*.rej
*.sql
*.sqlite
*.sqlite3
*.tar
*.tar.gz
*.tgz
*.zip
Homestead.json
Homestead.yaml
Thumbs.db
